<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.kroakyhub.testfrog.customlistener.CustomITestListener">
		</listener>
	</listeners>
	<test name="Test">
		<packages>
			<package name="com.infrrd.roostify.testcase"></package>
		</packages>
	</test> <!-- Test -->
</suite> <!-- Suite -->
